body {
   
}


footer {
	text-align: center;
    position: absolute;
    bottom:0;
    width:100%;
    height:40px;
}

.centered {
	display: block;
	margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

img.center {
    display: block;
    margin: auto;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.landing {
	padding-top: 10%;
}