<div class="columns">
	<div class="column is-half is-offset-3">
		<br>
		<h3 class="title is-2">Delete <%=@group.name%>?</h3>
		<form method="post" action="/groups/<%=@group.id%>/delete">
			<input type="hidden" id="hidden" name="_method" value="delete"/>
			<input class="button is-danger" type="submit" value="Confirm"/>
			<a class="button is-text" href="/groups/<%=@group.id%>">Cancel</a>
		</form>
	</div>
</div>