<% if !!flash[:error] %>
  <h4 style="color:red;""><%= flash[:error] %></h4>
<% end %>

<h1>Create a Prayer Group</h1>
<form method="post" action="/groups">
	<div>
	<input type="text" id="name" name="name" placeholder="Group name:"/>
	<br><br>
	<input type="text" id="description" name="description" placeholder="Group description:"/>
	<br><br>
	<input type="submit" value="Create Group"/>
</form>