<h1><%=@group.name%></h1>
<br>
<h3>Description:</h3>
<p><%=@group.description%></p>
<br>
<br>

<h3>Members: </h3>
<ul>
	<% @group.members.each do |user| %>
		<li><%=user.username%></li>
	<% end %>
</ul>

<% if @group.private == false %>
    <a href="/groups/<%=@group.id%>/join">Join Group</a>
<% end %>