<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheet.css">
 	<title>Prayers</title>
</head>
  <body>
  	<nav class="navbar" role="navigation" aria-label="main navigation">

	  <div class="navbar-brand">
	    <a class="navbar-item" href="/">
	      <img src="/pray.png" alt="Pray For One Another">
	    </a>
	  </div>

	  <div class="navbar-menu">
	      <div class="navbar-start">
		    <a class="navbar-item" href='/prayers'>
			  Prayers
			</a>
			<a class="navbar-item" href='/groups'>
			  Groups
			</a>

		  </div>

		  <div class="navbar-end">
		  	<% if !logged_in? %>
		    <a class="navbar-item" href='/login'>
			  Login
			</a>
			<a class="navbar-item" href='/signup'>
			  Sign Up
			</a>
			<% else %>
			<a class="button is-info is-rounded new_prayer" href="/prayers/new">New Prayer Request</a>
			<a class="navbar-item" href='/account'>
			  <strong><%=current_user.username%></strong>
			</a>
			<a class="navbar-item" href='/logout'>
			  Logout
			</a>
			<% end %>
		  </div>
	  </div>

	</nav>
    <%= yield %>
	<footer>
		<a href="https://bulma.io" style="float: right;">
		  	<img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
		</a>
        <p>
        	Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>		
		</p>
	</footer>
  </body>
</html>