<div class="columns is-centered">
	<div class="column is-one-third has-text-centered">
		<br>
		<p class="subtitle is-4">Are you a roman soldier looking for Jesus in the tomb after his death on the cross?</p>
		<p class="subtitle is-4">because...</p>
	  	<img src="/empty-tomb.jpg" alt="Empty Tomb">
	  	<br><br>		
		<h1 class="title is-1">404 - Not Found</h1>
	</div>
</div>